<?xml version="1.0" encoding="UTF-8"?>
<plugin 
	xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-app-bringer" version="1.0.">
	<name>App Bringer</name>
	<description>Brings current activity to front or send to back</description>
	<author>Thiago Burgo</author>
	<license>Apache 2.0</license>
	<keywords>cordova,android,activity,foreground,backgroung</keywords>
	<repo>https://github.com/thiagoburgo/cordova-app-bringer.git</repo>
    <issue>https://github.com/thiagoburgo/cordova-app-bringer/issues</issue>
	<engines>
		<engine name="cordova-android" version=">=4.0.0" />
	</engines>
	<platform name="android">
		<source-file src="src/android/AppBringer.java" target-dir="src/br/burgo/appbringer/" />
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="AppBringer">
				<param name="android-package" value="br.burgo.appbringer.AppBringer" />
			</feature>
		</config-file>
		<js-module src="www/app-bringer.js" name="AppBringer">
			<clobbers target="AppBringer" />
		</js-module>
	</platform>
</plugin>
